*{
    padding:0;
    margin:0;
}

body {
    background-color:white;
    color:#002fff;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 10px;
    align-items: center;
    background-color: #7ff0e6;
  
}

.nav-menu ul li a:hover{
    color:rgb(227, 238, 233);
    background-color: #86a7ec;
    border-radius: 5px;
}  
  
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 60px;
    margin: 0 15px 0 15px;
}

.logo h2 {
    letter-spacing: 3px;
}

.nav-menu ul {
    display: grid;
    grid-template-columns: repeat(5,auto);
    justify-content:end;
    gap: 10px;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #002fff;
    padding: 15px;
    font-size: 13px;
}

.book {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.book-img {
    padding-left: 200px;
}
.book-text {
    color: black;
}
.book-title {
    font-weight: bold;
}

/* login */
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:#dedede;
    
}

.log-img {
    width: 450px;
    padding-left: 100px;
    border-radius: 44px;
    margin-top: 50px;
    
}

form {
    margin-top: 50px;
}

.login label,.login input {
    display: block;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    border:black;
}



.btn{
    display: inline-block;
    padding: 20px 30px;
    background-color: #002fff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}