.text-white{
    background-color:#9A0012;
}
.nav_hover:hover {
    color: #9A0012;
   
}

.cart_noti{
    position: relative;
    top: -12px;
    right: 27px;
    background-color: #9A0012;
    color: white;
    padding: 1px 7px;
    border-radius: 50%;
}


*{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  .nav_hover{
    font-size: bold;
  }