
.nav_hover:hover {
    color: #9A0012;
   
}

  .nav_hover{
    font-size: bold;
  }


.cart_noti{
    position: relative;
    top: -12px;
    right: 27px;
    background-color:red;
    color: white;
    padding: 1px 5px;
    border-radius: 50%;
}


*{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


  .divided{
    width: 90px;
    border: 2px solid #9A0012;
  }
  
  